img:is([sizes="auto" i], [sizes^="auto," i]) {
    contain-intrinsic-size: 3000px 1500px
}
img.wp-smiley, img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.wp-block-button__link {
    color: #fff;
    background-color: #32373c;
    border-radius: 9999px;
    box-shadow: none;
    text-decoration: none;
    padding: calc(.667em + 2px) calc(1.333em + 2px);
    font-size: 1.125em
}

.wp-block-file__button {
    background: #32373c;
    color: #fff;
    text-decoration: none
}
:root {
    --wp--preset--aspect-ratio--square: 1;
    --wp--preset--aspect-ratio--4-3: 4/3;
    --wp--preset--aspect-ratio--3-4: 3/4;
    --wp--preset--aspect-ratio--3-2: 3/2;
    --wp--preset--aspect-ratio--2-3: 2/3;
    --wp--preset--aspect-ratio--16-9: 16/9;
    --wp--preset--aspect-ratio--9-16: 9/16;
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
    --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}

:where(.is-layout-flex) {
    gap: 0.5em;
}

:where(.is-layout-grid) {
    gap: 0.5em;
}

body .is-layout-flex {
    display: flex;
}

.is-layout-flex {
    flex-wrap: wrap;
    align-items: center;
}

.is-layout-flex > :is(*, div) {
    margin: 0;
}

body .is-layout-grid {
    display: grid;
}

.is-layout-grid > :is(*, div) {
    margin: 0;
}

:where(.wp-block-columns.is-layout-flex) {
    gap: 2em;
}

:where(.wp-block-columns.is-layout-grid) {
    gap: 2em;
}

:where(.wp-block-post-template.is-layout-flex) {
    gap: 1.25em;
}

:where(.wp-block-post-template.is-layout-grid) {
    gap: 1.25em;
}

.has-black-color {
    color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-color {
    color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-color {
    color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-color {
    color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-color {
    color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-color {
    color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-color {
    color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-color {
    color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-color {
    color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-color {
    color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-color {
    color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-color {
    color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-background-color {
    background-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-background-color {
    background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-background-color {
    background-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-background-color {
    background-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-background-color {
    background-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-background-color {
    background-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-background-color {
    background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-background-color {
    background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-background-color {
    background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-background-color {
    background-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-border-color {
    border-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-border-color {
    border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-border-color {
    border-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-border-color {
    border-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-border-color {
    border-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-border-color {
    border-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-border-color {
    border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-border-color {
    border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-border-color {
    border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-border-color {
    border-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
    background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
}

.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
    background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
}

.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
}

.has-luminous-vivid-orange-to-vivid-red-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
}

.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
    background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}

.has-cool-to-warm-spectrum-gradient-background {
    background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}

.has-blush-light-purple-gradient-background {
    background: var(--wp--preset--gradient--blush-light-purple) !important;
}

.has-blush-bordeaux-gradient-background {
    background: var(--wp--preset--gradient--blush-bordeaux) !important;
}

.has-luminous-dusk-gradient-background {
    background: var(--wp--preset--gradient--luminous-dusk) !important;
}

.has-pale-ocean-gradient-background {
    background: var(--wp--preset--gradient--pale-ocean) !important;
}

.has-electric-grass-gradient-background {
    background: var(--wp--preset--gradient--electric-grass) !important;
}

.has-midnight-gradient-background {
    background: var(--wp--preset--gradient--midnight) !important;
}

.has-small-font-size {
    font-size: var(--wp--preset--font-size--small) !important;
}

.has-medium-font-size {
    font-size: var(--wp--preset--font-size--medium) !important;
}

.has-large-font-size {
    font-size: var(--wp--preset--font-size--large) !important;
}

.has-x-large-font-size {
    font-size: var(--wp--preset--font-size--x-large) !important;
}

:where(.wp-block-post-template.is-layout-flex) {
    gap: 1.25em;
}

:where(.wp-block-post-template.is-layout-grid) {
    gap: 1.25em;
}

:where(.wp-block-columns.is-layout-flex) {
    gap: 2em;
}

:where(.wp-block-columns.is-layout-grid) {
    gap: 2em;
}

:root :where(.wp-block-pullquote) {
    font-size: 1.5em;
    line-height: 1.6;
}
header {
    background: linear-gradient(-90deg,#ffffff 0,#ffffff 100%);
    border-bottom: 1px solid rgba(0,0,0,0)
}

.sticky-header {
    background: linear-gradient(-90deg,#ffffff 0,#ffffff 100%);
    border-bottom: 1px solid #eeeeee
}

.wdes-interface-menu #wdes-menu-top-header ul.menu li a {
    color: #242424
}

.wdes-interface-menu #wdes-menu-top-header ul.menu li a:hover {
    color: #6c63ff
}

.clientarea-shortcuts a span {
    color: #242424
}

.clientarea-shortcuts a span:hover {
    color: #6c63ff
}

.clientarea-shortcuts {
    border-left: 1px solid #eeeeee
}

.s-area span,.social li a {
    color: #242424
}

.social li a:hover {
    color: #6c63ff
}

.wdes-interface-menu {
    background: linear-gradient(-90deg,#ffffff 0,#ffffff 100%);
    border-bottom: 1px solid #eeeeee
}

.wdes-menu-navbar ul.default-drop > li > a {
    color: #242424
}

.wdes-menu-navbar ul.default-drop > li > a:hover {
    color: #6c63ff
}

.wdes-menu-navbar .default-drop > li.current-menu-item > a {
    color: #6c63ff !important
}

.wdes-menu-navbar ul.default-drop > li > ul.dropdown-content.wdes-global-style > li a {
    color: #7f7f7f
}

.wdes-menu-navbar ul.default-drop > li > ul.dropdown-content.wdes-global-style > li a:hover {
    color: #6c63ff
}

.logo {
    height: 50px !important
}

@media only screen and (max-width: 960px) and (min-width:160px) {
    .menu-d-mob {
        background-color:#191919
    }
}

.wdes-mob-btn .icon-menu .line {
    background-color: #242424
}

.wdes-menu-is-active .icon-menu .line-1,.wdes-menu-is-active .icon-menu .line-3 {
    background-color: #ffffff
}

@media (max-width: 960px) and (min-width:160px) {
    .wdes-menu-navbar ul.default-drop > li > a {
        color:#ffffff !important
    }

    .wdes-menu-navbar ul.default-drop > li > a:hover {
        color: #6c63ff !important
    }

    .wdes-menu-navbar ul.default-drop > li.current-menu-item > a {
        color: #6c63ff !important
    }

    .wdes-menu-navbar ul.default-drop > li {
        border-bottom: 1px solid #232323
    }

    .wdes-menu-navbar ul.default-drop > li > ul.dropdown-content.wdes-global-style > li a {
        color: #ffffff
    }

    .wdes-menu-navbar ul.default-drop > li > ul.dropdown-content.wdes-global-style > li a:hover {
        color: #ffffff
    }
}

.wdes-menu-navbar .mega-w.dropdown-content li.heading > a {
    color: #423f4f
}

.wdes-menu-navbar ul.default-drop > li ul.dropdown-content li.heading:hover > a {
    color: #6c63ff
}

.wdes-menu-navbar ul.default-drop > li > ul.dropdown-content > li > a {
    border-bottom: 1px solid #eeeeee
}

.wdes-menu-navbar .mega-w.dropdown-content li.heading > a span.divider-heading-mega {
    background: #eeeeee
}

.text-logo {
    font-size: 20px
}

/* =======================/* Headings/* ====================== */
h1 {
    color: #204056
}

h2 {
    color: #204056
}

h3 {
    color: #204056
}

h4 {
    color: #204056
}

h5 {
    color: #204056
}

h6 {
    color: #204056
}

/* =======================/* Footer/* ====================== */
.footer {
    background: linear-gradient(-90deg,#ffffff 0,#ffffff 100%)
}

.footer h1,.footer h2,.footer h3,.footer h4,.footer h5,.footer h6,.footer .widget_wdes_newsletter h2,.footer .widget_rss h2 > a.rsswidget,.widget-footer.widget_rss cite,#wp-calendar tfoot td a {
    color: #242424 !important
}

.footer ul li a {
    color: #7e7e7e
}

.footer ul li a:hover {
    color: #6a62fe
}

.email-news {
    background: #f8f8f8 !important;
    border: 1px solid #eeeeee !important;
    text-transform: lowercase
}

input.sub-news,input.sub-news:hover {
    background: linear-gradient(-90deg,#6a62fe 0,#6a62fe 100%) !important
}

.copyrights-wdes-ft {
    background: linear-gradient(-90deg,#ffffff 0,#ffffff 100%)
}

.footer-menu ul li a {
    color: #7e7e7e
}

.footer-menu ul li a:hover {
    color: #6a62fe
}

.footer .copyrights-wdes-ft p.wdes-copyrights-text {
    color: #7e7e7e
}

.footer-bg {
    background: #29306c;
    background-image: url();
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto
}

.wdes-partners-company {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee
}

.wdes-partners-company span {
    color: #7e7e7e
}

.wdes-partners-company span:hover {
    color: #6a62fe
}

#wdes-back-to-top {
    background-color: #6a62fe;
    border: 1px solid #6a62fe
}

#wdes-back-to-top:hover {
    background-color: #817aff;
    border: 1px solid #817aff
}

#wdes-back-to-top span {
    color: #ffffff
}

/* =======================/* ShortCodes/* ====================== */
.wdes-loading {
    background: linear-gradient(-90deg,#6c63ff 0,#6c63ff 100%)
}

.best-feature .l-item-f {
    background: linear-gradient(-90deg,#6a62fe 0,#6a62fe 100%)
}

.best-feature .r-item-f {
    background: #f8f8f8
}

.block-comp span {
    background: linear-gradient(-90deg,#6a62fe 0,#6a62fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.plan-icon,a.chat-n,.block-footer-mlyo ul li a:hover,.info-bio h4,.title-error-t,.t-sty-a.colored h2,ul.categories li a::before,ul.categories li a:hover {
    background: linear-gradient(-90deg,#6a62fe 0,#6a62fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.social-media,.user-sub,.l-border,.cat,a.getstarted-modernlyo,a.job-modernlyo {
    background: linear-gradient(-90deg,#6a62fe 0,#6a62fe 100%)
}

.title-faq-lv2 {
    background: linear-gradient(-90deg,#6a62fe 0,#6a62fe 100%)
}

.wpcf7 input:hover,.wpcf7 textarea:hover {
    border: 2px solid #122d3e
}

.wpcf7 input[type=submit] {
    background: #6a62fe
}

.wpcf7 input[type=submit]:hover {
    background: #242424
}

/* =======================/* Blog/* ====================== */
.parent-img-post-inner {
    background: linear-gradient(-90deg,#6a62fe 0,#6a62fe 100%)
}

.parent-title-archive .main-page-title-in h2 {
    color: #ffffff
}

.parent-title-archive p {
    color: #ffffff
}

ul.wdes-breadcrumb-area li a {
    color: #ffffff
}

ul.wdes-breadcrumb-area li {
    color: #ffffff
}

ul.wdes-breadcrumb-area li:after {
    color: #ffffff
}

.classic-post-view a.title-art-sub {
    color: #6a62fe
}

.classic-post-view a.title-art-sub:hover {
    color: #242424
}

.text-area a.read-more-btn {
    color: #6a62fe;
    border: 2px solid #6a62fe
}

.text-area a.read-more-btn:hover {
    background: #242424;
    color: #ffffff;
    border: 2px solid #6a62fe
}

.sidebar-area .wid-title h2,.sidebar-area .wid-title a {
    color: #6a62fe
}

.block-sidebar-function ul li a:hover {
    color: #242424
}

.block-sidebar-function.widget_search #wdes-fullscreen-searchform button[type=submit],.elementor-widget-container #wdes-fullscreen-searchform button[type=submit],.elementor-element #wdes-fullscreen-searchform button[type=submit] {
    background: #6a62fe !important
}

.posts li a {
    color: #6a62fe !important
}

.posts li a:hover {
    color: #242424 !important
}

.art-block-sub a[rel=tag]:hover {
    background: #6a62fe
}

.body-article h1,.body-article h2,.body-article h3,.body-article h4,.body-article h5,.body-article h6 {
    color: #6a62fe
}

a.related-title {
    color: #6a62fe
}

a.related-title:hover {
    color: #242424
}

.tag-cloud-link:hover {
    background: #6a62fe
}

.comment-form #comment:hover,.comment-form #author:hover,.comment-form #email:hover,.comment-form #url:hover,.comment-form #comment:focus,.comment-form #author:focus,.comment-form #email:focus,.comment-form #url:focus {
    border: 1px solid #6a62fe
}

.comment-form .submit {
    background: #6a62fe
}

.comment-form .submit:hover {
    background: #242424
}

.comments-blog .wid-title h2 {
    color: #6a62fe !important
}

a.comment-reply-link {
    background: #6a62fe;
    border: 2px solid #6a62fe
}

a.user-rep {
    color: #6a62fe !important
}

h3.comment-reply-title {
    color: #6a62fe !important
}

p.logged-in-as a {
    color: #6a62fe
}

.widget-footer #wp-calendar thead th {
    background: #6a62fe
}

.widget-footer table td {
    background: #ffffff
}

.widget-footer input[type=text],.widget-footer input[type=password],.widget-footer input[type=email],.widget-footer input[type=url],.widget-footer input[type=date],.widget-footer input[type=number],.widget-footer input[type=tel],.widget-footer input[type=file],.widget-footer textarea,.widget-footer select {
    background: #f8f8f8;
    border: 1px solid #eeeeee
}

.widget-footer a.tag-cloud-link {
    background: #f8f8f8;
    color: #7e7e7e
}

.widget-footer a.tag-cloud-link:hover {
    background: #6a62fe;
    color: #ffffff
}

.widget-footer #wdes-fullscreen-search-input {
    background: #f8f8f8;
    border: 1px solid #eeeeee
}

.widget-footer i.fas.fa-search.fullscreen-search-icon {
    color: #ffffff
}

.widget-footer.widget_search button[type="submit"] {
    background: #6a62fe !important
}

.func-hr2 {
    background: #eeeeee
}

.footer .company-info-block span,.footer .company-info-block a,.footer .about p {
    color: #7e7e7e !important
}

.footer .company-info-block:nth-child(2) a::before,.footer .company-info-block:nth-child(3) span::before {
    color: #6a62fe
}

.footer li,.footer input[type='text'],.footer input[type='password'],.footer input[type='email'],.footer input[type='url'],.footer input[type='date'],.footer input[type='number'],.footer input[type='tel'],.footer input[type='file'],.footer textarea,.footer select,.widget-footer #wp-calendar caption,.widget-footer #wdes-fullscreen-search-input::placeholder,.footer.footer-dark a.rsswidget {
    color: #7e7e7e !important
}

.footer p {
    color: #7e7e7e
}

.widget-footer #wp-calendar tbody td,.widget-footer #wp-calendar thead th,.widget-footer #wp-calendar tfoot td {
    border: 1px solid #eeeeee
}

.widget-footer #wp-calendar thead th,.footer-dark #wp-calendar tfoot td a,.widget-footer #wp-calendar tbody td {
    color: #7e7e7e
}

#wp-calendar #today {
    background: #6a62fe;
    border: 1px solid #6a62fe;
    color: #ffffff
}

.woocommerce nav.woocommerce-pagination ul li a {
    background: #f3f5f9
}

.woocommerce nav.woocommerce-pagination ul li a {
    color: #6a62fe
}

.woocommerce nav.woocommerce-pagination ul li span.page-numbers.current,.woocommerce nav.woocommerce-pagination ul li a:hover {
    background: #6a62fe
}

.woocommerce nav.woocommerce-pagination ul li span.page-numbers.current,.woocommerce nav.woocommerce-pagination ul li a:hover {
    color: #ffffff
}

/* =======================/* WHMCS Bridge/* ====================== */
div#bridge section#main-menu,div#bridge section#home-banner,div#bridge section#main-menu .navbar-main {
    background: linear-gradient(-90deg,#6a62fe 0,#6a62fe 100%)
}

div#bridge section#home-banner .btn.search {
    background: #807afe
}

div#bridge section#home-banner .btn.transfer {
    background: #5550cd !important
}

div#bridge .home-shortcuts {
    background: #5450cd
}

div#bridge .home-shortcuts li,div#bridge .home-shortcuts li:first-child {
    border-color: #4c48bb
}

div#bridge div#twitterFeedOutput {
    border-left: 4px solid #6a62fe
}

div#bridge .panel-sidebar .panel-heading {
    background: #6a62fe !important
}

div#bridge .panel-sidebar a.list-group-item.active,div#bridge .panel-sidebar a.list-group-item.active:focus,div#bridge .panel-sidebar a.list-group-item.active:hover {
    background: #6a62fe !important;
    border-color: #6a62fe !important
}

div#bridge .btn-primary {
    background: #6a62fe;
    border-color: #6a62fe
}

/* =======================/* 404/* ====================== */
.error-p {
    background: #ffffff url()
}

.title-error h2 {
    color: #204056
}

.title-error p {
    color: #7e7e7e
}

/* =======================/* Coming Soon/* ====================== */
.coming {
    background: #204056 url()
}

.com-title {
    color: #fff
}

/* ==============================================/* Typography/* ============================================= */
/* =======================/* Menu/* ====================== */
.wdes-menu-navbar ul.default-drop > li > a {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px
}

.wdes-menu-navbar ul.default-drop > li > ul.dropdown-content > li > a {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 13px
}

.wdes-menu-navbar .mega-w.dropdown-content li.heading > a {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px
}

/* =======================/* Blog/* ====================== */
.parent-title-archive h2 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 50px
}

.classic-post-view a.title-art-sub {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 18px
}

.inner-item-art .title-art-sub {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 36px
}

/* =======================/* Body/* ====================== */
p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px
}

blockquote {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 16px
}

a {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 17px
}

/* =======================/* Headings/* ====================== */
h1 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 32px
}

h2 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 24px
}

h3 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 20.8px
}

h4 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 16px
}

h5 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 12.8px
}

h6 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 11.2px
}

html,body {
    overflow: auto
}
.footer {
    background: #fef9f8;
}

input.sub-news, input.sub-news:hover {
    background: linear-gradient(-90deg,#ef9273 0,#ef9273 100%) !important;
}

.footer .copyrights-wdes-ft p.wdes-copyrights-text {
    color: #0d0d0d;
}

.hurrytimer-campaign-1974 .hurrytimer-timer-digit, .hurrytimer-campaign-1974 .hurrytimer-timer-sep {
    color: #ef9273;
    display: block;
    font-size: 79px;
}

.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6, .footer .widget_wdes_newsletter h2, .footer .widget_rss h2 > a.rsswidget, .widget-footer.widget_rss cite, #wp-calendar tfoot td a {
    color: #ef9273 !important;
}
.elementor-1027 .elementor-element.elementor-element-32d0c8ba:not(.elementor-motion-effects-element-type-background), .elementor-1027 .elementor-element.elementor-element-32d0c8ba > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FEF9F8;
}

.elementor-1027 .elementor-element.elementor-element-32d0c8ba > .elementor-background-overlay {
    background-color: #FEF9F8;
    opacity: 0.5;
    transition: 
    background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1027 .elementor-element.elementor-element-32d0c8ba {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1027 .elementor-element.elementor-element-2160a0a8 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1027 .elementor-element.elementor-element-2e6d011f {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1027 .elementor-element.elementor-element-236ba9d0 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table {
    background-color: #FEF9F8;
    border-radius: 2px 2px 2px 2px;
    padding: 40px 40px 40px 40px;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table:hover {
    background-color: #FEF9F8;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-heading {
    order: 1;
    background-color: #FEF9F8;
    text-align: center;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-price {
    order: 2;
    padding: 5px 0px 0px 0px;
    text-align: center;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-features {
    order: 3;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-feature-footer {
    order: 2;
    margin: 5px 0px 20px 0px;
    text-align: center;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-title {
    color: #EF9273;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 15px 0px 0px 0px;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-subtitle {
    color: #0D0D0D;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-subtitle {
    font-family: "Karla", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-img {
    width: 16%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-price-perfix {
    color: #EF9273;
    display: inline-block;
    top: -11px;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-price-perfix {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-price-original {
    color: #0D0D0D;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-price-original {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-price-num {
    color: #EF9273;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-price-num {
    font-family: "Poppins", Sans-serif;
    font-size: 31px;
    font-weight: 600;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-price-suffix {
    color: #EF9273;
    display: inline-block;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-price-suffix {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-price-desc {
    color: #EF9273;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-features-header {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-features-header {
    color: #0D0D0D;
    text-align: center;
    padding: 0px 0px 05px 0px;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-features-wrap {
    background-color: #FEF9F8;
    text-align: center;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-feature {
    font-family: "Karla", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-feature-inner {
    color: #0D0D0D;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-table-features-text {
    padding-left: 2px;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-feature-inner:hover {
    color: #EF9273;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-feature-inner .feature-icon:before {
    font-size: 14px;
    color: #0D0D0D;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-feature-inner .feature-icon {
    width: 14px;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-feature-inner .feature-image {
    width: 14px;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-feature:before {
    border-top-style: solid;
    border-top-color: #EEEEEE;
    border-top-width: 1px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-feature-footer .pricing-table-button {
    background-color: #EF9273;
    color: #0D0D0D;
    padding: 10px 30px 10px 30px;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-feature-footer .pricing-table-button {
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-1027 .elementor-element.elementor-element-626cdffb .wdes-pricing-feature-footer .pricing-table-button:hover {
    background-color: #EF9273;
    color: #FFFBFB;
}

.elementor-1027 .elementor-element.elementor-element-485d2b53 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table {
    background-color: #FEF9F8;
    border-radius: 2px 2px 2px 2px;
    padding: 40px 40px 40px 40px;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-heading {
    order: 1;
    text-align: center;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-price {
    order: 2;
    background-color: #FEF9F8;
    padding: 5px 0px 0px 0px;
    text-align: center;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-features {
    order: 3;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-feature-footer {
    order: 2;
    background-color: #FEF9F8;
    margin: 5px 0px 20px 0px;
    text-align: center;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-title {
    color: #EF9273;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 15px 0px 0px 0px;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-subtitle {
    color: #0D0D0D;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-subtitle {
    font-family: "Karla", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-img {
    width: 16%;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-price-perfix {
    color: #EF9273;
    display: inline-block;
    top: -11px;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-price-perfix {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-price-original {
    color: #0D0D0D;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-price-original {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-price-num {
    color: #EF9273;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-price-num {
    font-family: "Poppins", Sans-serif;
    font-size: 31px;
    font-weight: 600;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-price-suffix {
    color: #EF9273;
    display: inline-block;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-price-suffix {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-price-desc {
    color: #0D0D0D;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-features-header {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-features-header {
    color: #0D0D0D;
    text-align: center;
    padding: 0px 0px 05px 0px;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-features-wrap {
    background-color: #FEF9F8;
    text-align: center;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-feature {
    font-family: "Karla", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-feature-inner {
    color: #0D0D0D;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-features-text {
    padding-left: 2px;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-feature-inner:hover {
    color: #EF9273;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-feature-inner .feature-icon:before {
    font-size: 14px;
    color: #0D0D0D;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-feature-inner .feature-icon {
    width: 14px;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-feature-inner .feature-image {
    width: 14px;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-feature:before {
    border-top-style: solid;
    border-top-color: #FEF9F8;
    border-top-width: 1px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-feature-footer .pricing-table-button {
    background-color: #EF9273;
    color: #0D0D0D;
    padding: 10px 30px 10px 30px;
    border-radius: 2px 2px 2px 2px;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-feature-footer .pricing-table-button {
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-feature-footer .pricing-table-button:hover {
    background-color: #EF9273;
    color: #FFFFFF;
}

.elementor-1027 .elementor-element.elementor-element-606cd774 .wdes-pricing-table-strip-default-inner {
    background-color: #EF9273;
    color: #FFFFFF;
}

.elementor-1027 .elementor-element.elementor-element-357ee251 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table {
    background-color: #FEF9F8;
    border-radius: 2px 2px 2px 2px;
    padding: 40px 40px 40px 40px;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-heading {
    order: 1;
    background-color: #FEF9F8;
    text-align: center;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-price {
    order: 2;
    padding: 5px 0px 0px 0px;
    text-align: center;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-features {
    order: 3;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-feature-footer {
    order: 2;
    margin: 5px 0px 20px 0px;
    text-align: center;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-title {
    color: #EF9273;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 15px 0px 0px 0px;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-subtitle {
    color: #0D0D0D;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-subtitle {
    font-family: "Karla", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-img {
    width: 16%;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-price-perfix {
    color: #EF9273;
    display: inline-block;
    top: -11px;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-price-perfix {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-price-original {
    color: #0D0D0D;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-price-original {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-price-num {
    color: #EF9273;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-price-num {
    font-family: "Poppins", Sans-serif;
    font-size: 31px;
    font-weight: 600;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-price-suffix {
    color: #EF9273;
    display: inline-block;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-price-suffix {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-features-header {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-features-header {
    color: #0D0D0D;
    text-align: center;
    padding: 0px 0px 05px 0px;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-features-wrap {
    text-align: center;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-feature {
    font-family: "Karla", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-feature-inner {
    color: #0D0D0D;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-table-features-text {
    padding-left: 2px;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-feature-inner:hover {
    color: #EF9273;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-feature-inner .feature-icon:before {
    font-size: 14px;
    color: #0D0D0D;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-feature-inner .feature-icon {
    width: 14px;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-feature-inner .feature-image {
    width: 14px;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-feature:before {
    border-top-style: solid;
    border-top-color: #EEEEEE;
    border-top-width: 1px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-feature-footer .pricing-table-button {
    background-color: #EF9273;
    color: #0D0D0D;
    padding: 10px 30px 10px 30px;
    border-radius: 2px 2px 2px 2px;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-feature-footer .pricing-table-button {
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-1027 .elementor-element.elementor-element-337fd5ba .wdes-pricing-feature-footer .pricing-table-button:hover {
    background-color: #EF9273;
    color: #FFFFFF;
}
.elementor-1029 .elementor-element.elementor-element-9e10f0b > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1029 .elementor-element.elementor-element-67a634a7 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1029 .elementor-element.elementor-element-649e659c > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table {
    background-color: #FEF9F8;
    border-radius: 2px 2px 2px 2px;
    padding: 40px 40px 40px 40px;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-heading {
    order: 1;
    text-align: center;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-price {
    order: 2;
    padding: 5px 0px 0px 0px;
    text-align: center;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-features {
    order: 3;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-feature-footer {
    order: 2;
    margin: 5px 0px 20px 0px;
    text-align: center;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-title {
    color: #EF9273;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 15px 0px 0px 0px;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-subtitle {
    color: #7E7E7E;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-subtitle {
    font-family: "Karla", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-img {
    width: 16%;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-price-perfix {
    color: #EF9273;
    display: inline-block;
    top: -11px;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-price-perfix {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-price-num {
    color: #EF9273;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-price-num {
    font-family: "Poppins", Sans-serif;
    font-size: 31px;
    font-weight: 600;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-price-suffix {
    color: #EF9273;
    display: inline-block;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-price-suffix {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-features-header {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-features-header {
    color: #0D0D0D;
    text-align: center;
    padding: 0px 0px 05px 0px;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-features-wrap {
    text-align: left;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-feature {
    font-family: "Karla", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-feature-inner {
    color: #0D0D0D;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-table-features-text {
    padding-left: 2px;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-feature-inner:hover {
    color: #EF9273;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-feature-inner .feature-icon:before {
    font-size: 14px;
    color: #0D0D0D;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-feature-inner .feature-icon {
    width: 14px;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-feature-inner .feature-image {
    width: 14px;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-feature:before {
    border-top-style: solid;
    border-top-color: #EEEEEE;
    border-top-width: 1px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-feature-footer .pricing-table-button {
    background-color: #EF9273;
    color: #0D0D0D;
    padding: 10px 30px 10px 30px;
    border-radius: 2px 2px 2px 2px;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-feature-footer .pricing-table-button {
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-1029 .elementor-element.elementor-element-2dd8e846 .wdes-pricing-feature-footer .pricing-table-button:hover {
    background-color: #EF9273;
    color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-1029 .elementor-element.elementor-element-7733afbb.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-1029 .elementor-element.elementor-element-7733afbb.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1029 .elementor-element.elementor-element-7733afbb:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-1029 .elementor-element.elementor-element-7733afbb > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FEF9F8;
}

.elementor-1029 .elementor-element.elementor-element-7733afbb > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1029 .elementor-element.elementor-element-7733afbb > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1029 .elementor-element.elementor-element-7733afbb > .elementor-element-populated > .elementor-widget-wrap {
    padding: 40px 40px 0px 40px;
}

.elementor-1029 .elementor-element.elementor-element-79e410b4 .wdes-widget-inner {
    text-align: center;
}

.elementor-1029 .elementor-element.elementor-element-79e410b4 .wdes-section-header-primary {
    color: #0D0D0D;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 0px 0px 10px 0px;
}

.elementor-1029 .elementor-element.elementor-element-79e410b4 .wdes-section-header-primary:hover {
    color: #0D0D0D;
}

.elementor-1029 .elementor-element.elementor-element-79e410b4 .wdes-section-header-description {
    color: #0D0D0D;
    font-family: "Karla", Sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.elementor-1029 .elementor-element.elementor-element-79e410b4 > .elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-1029 .elementor-element.elementor-element-305fc14b {
    text-align: center;
}

.elementor-1029 .elementor-element.elementor-element-305fc14b > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

@media(min-width: 768px) {
    .elementor-1029 .elementor-element.elementor-element-649e659c {
        width:33%;
    }

    .elementor-1029 .elementor-element.elementor-element-7733afbb {
        width: 67%;
    }
}
#rs-demo-id {
}
